@mixin flex($direcction: row , $aling: center, $justify: center, $gap: 0, $wrap: nowrap){
    display: flex;
    flex-direction: $direcction;
    align-items: $aling;
    justify-content: $justify;
    gap: $gap;
    flex-wrap: $wrap;
}

@mixin grid($rows, $columns, $gap: 0, $rows_size: 1fr, $columns_size: 1fr){
    display: grid;
    grid-template-columns: repeat($columns, $columns_size);
    grid-template-rows: repeat($rows, $rows_size);
    gap: $gap;
}

@mixin simpleGrid($aling: center, $justify: center){
    display: grid;
    align-content: $aling;
    justify-content: $justify;
}

@mixin loader-spiner(){
    // size
    width: 30px;
    height: 30px;

    // decoration
    border: 3px solid transparent;
    border-top: 3px solid $h-c-black;
    border-radius: 50%;

    // animation
    animation: spin 1s ease-in-out infinite;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

@mixin backgroundSelector(){
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg, 
    $h-c-spotify-primary-07,
    $h-c-amazon-primary-07,
    $h-c-soundcloud-primary-07,
    $h-c-youtube-primary-07,
    $h-c-apple-primary-07
    );
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

@mixin displayContainerSpotify(){
    // size
    width: 95%;
    min-height: 94%;

    // display
    @include flex(column);

    // margin
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

@mixin layoutSearchSpotify(){
        @include displayContainerSpotify();
    // size
    min-height: 80%;
    align-self: center;

    // display
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    .container-results{
      //size
      width: 50%;

      // display
      @include flex(column, center, flex-start, 3rem);

      .input-search{
        width: 50%;
      }

      .container-playlists, .container-albums, .container-artists, .container-tracks{
        // size
        width: 50%;

        // display
        @include flex(column, flex-start, flex-start, 2rem);

        ul{

          // display
          @include flex(column, flex-start, flex-start, 1rem);

          // margin
          margin: 0;
          padding: 0;

          // decoration
          list-style: none;

          li{
            // decoration
            cursor: pointer;
          }
        }
      }
    }
}