// colors

    $h-c-white: #FDFDFD;
    $h-c-white-opacity: #ededed;
    $h-c-black: #262626;
    $h-c-black-opacity:#323131;
    $h-c-spotify-primary: #1FDF64;
    $h-c-spotify-primary-07: rgba(31, 223, 101, 0.7);
    $h-c-youtube-primary: #FF0000;
    $h-c-youtube-primary-07: rgba(255, 0, 0, 0.7);
    $h-c-apple-primary: #D60017;
    $h-c-apple-primary-07: rgb(214, 0, 23, 0.7);
    $h-c-amazon-primary: #25D1DA;
    $h-c-amazon-primary-07: rgb(37, 209, 218, 0.7);
    $h-c-soundcloud-primary: #FF5500;
    $h-c-soundcloud-primary-07:rgb(255, 85, 0, 0.7);

// fonts

    $h-f-text-title: 40px;
    $h-f-text-subtitle: 32px;
    $h-f-text-big: 24px;
    $h-f-text-medium: 20px;
    $h-f-text: 16px;
    $h-s-text-small: 14px;

// size

    $h-h-header: 80px;

    $h-m-header: 10vh;